<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <P align="center">
          <img src="http://test.thecorpo.fr/site/files/6513/6117/8539/header_page_soiree.jpg" height="500" width="800" alt="">
          <div class="container">
            <div class="carousel-caption">
              <p class="lead">First</p>
            </div>
          </div>
        </div>
        <div class="item">
          <P align="center">
          <img src="http://static.mcetv.fr/img/2012/04/Video-Buzz-dans-les-coulisses-d-un-apero-entre-etudiants-sante-les-gars.jpg" height="500" width="800" alt="">
          <div class="container">
            <div class="carousel-caption">
              <p class="lead">Second </p>
              
            </div>
          </div>
        </div>
        <div class="item">
          <P align="center">
          <img src="http://www.dtweb.fr/actu/wp-content/uploads/2013/04/google.jpg" height="500" width="800" alt="">
          <div class="container">
            <div class="carousel-caption">
              <p class="lead">Third</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
 <div class="span12">
<h1>Bienvenue sur INSAPERAVE </h1>
<p>Organiser un apéro n'a jamais été aussi facile.

Fini les chaînes d'emails interminables, les coups de fil intempestifs pour connaitre le lieu exact du rendez-vous ou le code d'en bas. Enfin tu sauras qui apportera le tire-bouchon et le vin rouge. 

Organise tes apéros, tes dîners à la maison, tes picnics en trois étapes et invite tes amis simplement.</p>

<body>
Mais aussi s'authentifier si on veut
<%= link_to "Apero index", aperos_path %>
 </body>
</div>