
 <div class="span12">
<h1>Bienvenue sur INSAPERAVE </h1>
<p>Pour l'instant, AJOUTE DES PUTAINS D'EVENEMENTS</p>

<body>
Mais aussi s'authentifier si on veut
<%= link_to "Apero index", aperos_path %>
 </body>
</div>