<h1>Qui sommes nous ?</h1>

<p> <strong>AperoInsa</strong> est un service gratuit qui permet aux étudiants mais aussi aux professeurs de pouvoir organiser des soirées avec différents thèmes. Créer dans le cadre d'un projet d'étude par quatre étudiants de l'INSA Lyon, département Télécommunications, Services et Usages, AperoInsa n'a pas la prétention de concurrencer les sites qui proposent les mêmes prestations que nous.
	Pour plus d'informations : <a <%= link_to "Contactez nous", contact_path %></a>
</p>
