<h1>Les 10 règles pour une home-party réussie</h1>


<div class="span12 pagination-centered">
	<IMG SRC="http://www.glamourparis.com/uploads/images/thumbs/201114/simon_winnall_getty_3646_north_584x0.jpg"
 class="img-circle" style="margin-bottom: 50px;">
</div>

<p>Organiser une petite sauterie à domicile, ça vous a toujours paru stressant et compliqué ? Hop, hop, hop, grâce à ce petit manuel en 10 étapes, vous n'aurez plus aucun raison de vous défiler.</p>

<p> <h3>1. On choisit THE date</h3>
C'est probablement l'un des éléments les plus importants d'une soirée réussie. Si peu de gens peuvent se libérer ce soir là, à priori, l'ambiance risque d'en prendre un coup. On la joue donc stratégique : bien sûr, on évite les jours de semaine, sous peine de voir ses invités qui travaillent le lendemain rentrer se coucher rapidement. Moins évident, on fait attention aux week-ends + jour férié, car même si l'on considère que les gens seront plus enclins à faire la fête en sachant qu'ils ont leur lundi de libre, quelques-uns en profiteront aussi pour se mettre au vert à ce moment-là. L'idéal est avant tout de prévenir suffisamment tôt pour que les copains réservent leur soirée, et de relancer tout le monde quelques jours avant, sans harcèlement. </p>      

<p><h3><strong>2. On maîtrise la partie "invitation"</strong></h3>
Probablement l'étape la plus problématique. "Je mélange mes groupes d'amis ou pas ?", "J'ouvre la porte aux amis d'amis ?", "Je les préviens à quel moment ?", "Je crée une invitation sur Facebook ?", bref, un parquet de questions se posent. A moins d'avoir un groupe d'amis gigantesque, si l'on veut un peu de monde à notre petite sauterie, mieux vaut oser mélanger ses connaissances entre elles. De toute façon, la plupart du temps, nos invités sont aussi très contents de rencontrer de nouvelles têtes. Pour la question des "potes de potes", refuser à ses invités le droit de venir accompagnés risque un peu de les mettre mal à l'aise et de faire rabat-joie. Alors même si l'on a un petit appartement, on prend sur soi en disant que de toute façon, 45 personnes dans un 30 m2, ça rentre. Alors évidemment, être cool, c'est une chose, mais être "trop" cool, c'en est une autre. Pas question d'autoriser son ami Georges à ramener ses 13 potes alors qu'on n'en connait pas un seul, au risque de les voir vivre leur propre petite soirée dans leur coin.  
Créer un évènement annonçant sa fête sur Facebook, pourquoi pas, mais on ne compte pas uniquement dessus pour faire passer le message (déjà parce que tout le monde n'a pas Facebook, ensuite parce qu'on ne fait pas toujours très attention à cette fameuse page "Evènements"). Alors on fait passer le mot, on envoie des mails ou des petits textos, sans harcèlement (toujours). </p>

<p><h3><strong>3. On évalue son budget</strong></h3>
L'idée, c'est bien sûr de limiter les dépenses en comptant sur les contributions alcoolisées de tout le monde. Sauf que dans les faits, ça ne se passe jamais comme on l'espère. On aura toujours forcément affaire aux 5 copines qui arrivent en même temps et qui pour seule denrée auront rapporté une bouteille de vinasse achetée 2,95 € chez l'épicier. En sachant que la plupart des invités ont cette fâcheuse tendance à apporter une bouteille de vin plutôt qu'une bouteille de vodka et que les bières viennent toujours à manquer à un moment dans le frigo, on n'hésite pas à préciser à chacun ce qu'il est préférable d'apporter, quitte à grouper les achats ("Ludo, Jérôme et Sophie, vous vous charger de prendre une bouteille de whisky ?", "Nico, tu ramènes un pack de bières ?", etc...). Du coup, on limite ses propres dépenses boissons et on s'assure de ne pas être à sec.
Point de vue buffet, mieux vaut être claire quant à la nature de la soirée : si on prévoit un vrai buffet bien garni, on prévient vraiment ses invités qu'il y aura à manger, histoire de ne pas se retrouver avec 23 kg de nourriture sur les bras. A l'inverse, on évite de vendre le côté "soirée-dîner" si l'on ne compte offrir que 3 chips et 5 cacahuètes. Les invités qui n'auraient pas assez mangé risqueraient d'ailleurs d'être ivres morts un peu trop vite.
</p>

<p><h3><strong>4. On prépare le champ de bataille</strong></h3>
Une étape que l'on néglige souvent, à tord. Afin d'éviter les tâches de vin rouge sur le canapé, les  brûlures de cigarette sur le tapis ou la casse de son bibelot préféré, on protège ! Evidemment, pas question que son appart devienne une aire aseptisée où tout est recouvert de plastique, mais on n'hésite pas à déplacer les éléments fragiles dans une autre pièce (car même si "on a la flemme" sur le coup, on l'aura encore plus quand il sera question de réparer les dégâts). On recouvre donc le canapé, on roule les tapis, et on déplace tous les éléments fragiles. Si on veut éviter des drames, on évite aussi de mettre des bougies (surtout chauffe-plat, peu sécurisées) partout : dans l'euphorie, une bougie qui s'enflamme ne se remarque pas forcément tout de suite.
Le but, c'est aussi de faire de la place. Pour une soirée réussie, on DOIT prévoir un dance-floor pour bouger son corps.
</p>

<p><h3><strong>5. On programme une chouette playlist (ou on désigne un DJ)</strong></h3>
Rien de pire que les soirées où tout le monde se bouscule devant les platines et s'acharne sur notre pauvre ordinateur portable. Au final, on se retrouve avec des morceaux coupés en plein milieu et une flopée de personnes qui n'en peut plus du monomaniaque du hip-hop qui a accaparé les commandes. Si on est motivée et sûre de nos choix (éclectiques, de préférence, on évite la playlist total disco ou années 80), on prépare donc une playlist qui pourra durer au moins deux heures. Si on n'a pas le courage, mieux vaut désigner un DJ qui pourra tout à fait tourner dans la soirée. Et pas d'inquiétude, les volontaires se trouvent beaucoup plus facilement qu'on ne le pense.</p>

<p><h3><strong>6. On prévient les voisins</strong></h3>
Si cette petite précaution va de soi, on se doit tout de même de respecter quelques règles : un petit mot laissé dans l'ascenseur à 19h30 le jour J, ça ne sert pas à grand chose. Le mieux est de prévenir une bonne semaine avant, histoire de laisser le temps à ses voisins conciliants d'organiser leur soirée à l'extérieur. Si l'on sait par expérience que son voisinage n'est pas des plus tolérants, on peut aussi passer un coup de fil au commissariat le plus proche. Si la police est appelée pour nous faire une remontrance, elle se montrera plus compréhensive si elle a été prévenue...</p>

<p><h3><strong>7. On se prépare sereinement</strong></h3>
Rien de pire que de devoir enfiler la première robe qu'on trouve et de finir de se maquiller alors que la sonnette retentit toutes les 5 minutes. Une bonne hôte se doit d'être prête dans les temps. On réfléchit donc à sa tenue à l'avance, et on prend bien le temps de se préparer pour ne pas stresser.  
</p>

<p><h3><strong>8. On ne s'enferme pas dans le rôle de la "maîtresse de maison"</strong></h3>
A trop vouloir bien faire, on se retrouve souvent débordée. Servir des cocktails et apporter des vivres, ça va deux secondes. On tente donc de profiter de la soirée comme tout le monde, quitte à demander des coups de main à nos amis les plus proches. Le minimum syndical restant bien sûr de saluer tout le monde... Important, on évite aussi de s'imaginer toutes les heures à quoi ressemblera notre appart le lendemain matin. De toute façon, le mal est fait, Manu a déjà vomi derrière le fauteuil (et de tout façon, on a bien suivi à la lettre le précepte n°4, hein).</p>


<p><h3><strong>9. On ne culpabilise pas</strong></h3>
Souvent, lorsque l'on rassemble des amis, on peut ressentir une certaine culpabilité à les avoir fait venir pour finalement ne leur parler que 10 minutes dans toute la soirée. Pas de panique. Les gens le savent. Quand on commence à se soucier du plaisir que les autres prennent (ou pas) à cette soirée, ça devient plus compliqué. A moins qu'il ne s'agisse de sa cousine venue exprès du Venezuela pour cette fête (motivée la cousine), on arrête de porter sur ses épaules la responsabilité de l'ennui de telle ou telle personne. Après tout, on a le droit de se marrer, et si pour eux ce n'est pas le cas, ça ne les tuera pas.</p>


<p><h3><strong>10. On gère la fin de soirée</strong></h3>
Dernier point délicat : virer en douceur les plus résistants (et les plus imbibés qui cuvent dans le canapé) quand on entend notre lit nous appeler. Généralement, quand on commence à esquisser quelques gestes de rangement (sans mettre une pression quelconque), ces derniers mettent leur manteau dans la minute. Et pour les plus soûls qui n'auront de toute façon pas la force de prendre un bus de nuit/taxi/vélo (et surtout pas un scooter ou une voiture), on prévoit un ou 2 duvets. Ils pourront toujours aider à passer la serpillère le lendemain...</p>