<h1>Nous contacter </h1>  

  			Guillaume DURY </br>
  			20 Avenue Albert Einstein  </br>
  			69100 VILLEURBANNE </br>
  			NUMERO DE GUILLAUME</br>
  			<p><a href="mailto:guillaume.dury@insa-lyon.fr">guillaume.dury@insa-lyon.fr</a></p> </br>

  			Thibault FORDEVEAUX</br>
  			20 Avenue Albert Einstein </br>
  			69100 VILLEURBANNE</br>
  			+33 6 67 25 39 43</br>
  			<p><a href="mailto:thibault.fordeveaux@insa-lyon.fr">thibault.fordeveaux@insa-lyon.fr </a></p> </br>

  			Pierre LITAUDON</br>
  			20 Avenue Albert Einstein </br>
  			69100 VILLEURBANNE</br>
  			+33 6 67 25 39 43</br>
  			<p><a href="mailto:pierre.litaudon@insa-lyon.fr">pierre.litaudon@insa-lyon.fr </a></p> </br>

  			Jean-Baptiste Lefeuvre</br>
  			13 rue Sala</br>
  			69100 </br>
  			Numerooooo </br>
  			<p><a href="mailto:jean.baptiste@insa-lyon.fr">jean.baptiste@insa-lyon.fr</a></p> </br>

